@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  overflow: hidden;
  height: 100%;
}
body{
  overflow: auto;
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* sidebar */
.left-sidenav {
  min-width: 230px;
  max-width: 230px;
  background-color: #fff;
  min-height: 100vh;
  transition: 0.3s;
  position: fixed;
  bottom: 0;
  top: 0;
  border-right: 1px solid #e3ebf6;
  z-index: 90;
  display: flex;
  flex-direction: column;
}

.left-sidenav-close {
  width : 0px;
  background-color: #fff;
  min-height: 100vh;
  transition: 0.3s;
  position: fixed;
  bottom: 0;
  top: 0;
  border-right: 1px solid #e3ebf6;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .left-sidenav {
    width:0px;
    background-color: #fff;
    height : 0px;
    transition: 0.3s;
    position: fixed;
    bottom: 0;
    top: 0;
    border-right: 1px solid #e3ebf6;
    z-index: 0;
    display: none;
    flex-direction: column;
  }

}

.left-sidenav .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
}

.left-sidenav .brand .logo {
  line-height: 52px;
  cursor: pointer;
  user-select: none;
}
.left-sidenav .menu-content {
  height: 100%;
  padding-bottom: 70px;
}
.menu-label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #8491b7;
  padding: 8px 0 0 0;
}

.menu-ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.menu {
  color: #68728c;
  transition: all 0.3s ease-out;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}
.menu:hover {
  color: #1761fd;
}
.menu .active {
  font-weight: 600;
}
.profile-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(137, 151, 189, 0.1);
  padding: 10px 14px;
}

.submenu-ul {
  margin-top: 16px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: all 0.3s ease-out;
}
.submenu {
  color: #8491b7;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.active {
  color: #1761fd;
}
.page-wrapper {
  flex: 1;
  padding: 0;
  display: block;
  margin-left: 230px;
}
.page-wrapper-close {
  flex: 1;
  padding: 0;
  display: block;
  margin-left: 0px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .page-wrapper {
    flex: 1;
    padding: 0;
    display: block;
    margin-left: 0px;
  }

  .page-wrapper-close {
    flex: 1;
    padding: 0;
    display: block;
    margin-left: 0px;
  }
}

.navbar-custom {
  background: #fff;
  min-height: 52px;
  position: relative;
  border-bottom: 1px solid #e3ebf6;
  display: flex;
  justify-content: space-between;
}
.nav-link {
  padding: 0 1.25rem;
  color: #7081b9;
  line-height: 52px;
  max-height: 52px;
  height: 52px;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.button-menu-mobile {
  border: none;
  color: #7081b9;
  width: 60px;
  background-color: transparent;
  cursor: pointer;
}
/* Notification */
.noti-icon-badge {
  display: inline-block;
  position: absolute;
  top: 9px;
  right: 11px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  padding: 1px 4px 1px;
  font-size: 7px !important;
}
.bg-danger {
  background-color: #f5325c !important;
}
.rounded-pill {
  border-radius: 50rem !important;
}
.badge {
  line-height: 10px;
}

.left-sidenav hr.hr-dashed.hr-menu {
  border-color: #c2cbe2;
}
hr.hr-dashed {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px dashed #e3ebf6;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  background-color: transparent;
}
.page-wrapper .page-content {
  width: 100%;
  position: relative;
  min-height: calc(100vh - 52px - 2px);
  padding: 0 8px 52px 8px;
  display: inline-block;
}

/* Footer */
.footer {
  border-top: 1px solid #e3ebf6;
  bottom: 0;
  padding: 16px;
  position: absolute;
  right: 0;
  left: 0;
  color: #7081b9;
}

.main-container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
  margin-right: auto;
  margin-left: auto;
}
.row {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}
.col {
  flex: 1 0 0%;
}
.col-sm-12 {
  flex: 0 0 auto;
  width: 100%;
}
.page-title-box {
  padding: 16px 0;
}

.page-title-box .page-title {
  font-size: 17px;
  margin: 0;
  color: #2c3652;
  font-weight: 500;
  line-height: 18px;
}
.page-title-box .breadcrumb {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 2px 0;
  background-color: transparent;
}
.card {
  margin-bottom: 16px;
  background-color: #fff;
  border: 1px solid #e3ebf6;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
p {
  font-size: 0.8125rem;
}
h3 {
  line-height: 30px;
}
.chart-report-card h3,
.report-card h3 {
  color: #1d2c48;
  font-weight: 600;
  font-size: 20px;
}
.chart-report-card .report-main-icon,
.report-card .report-main-icon {
  font-size: 28px;
  width: 52px;
  height: 52px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}
.bg-light-alt {
  background-color: #fbfbfb !important;
}
.align-self-center {
  align-self: center !important;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}
.card .card-header {
  background-color: #fff;
  border-bottom: 1px solid #e3ebf6;
}
.card-header {
  padding: 0.75rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.title-text,
.card-title {
  text-transform: capitalize;
  letter-spacing: 0.02em;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  color: #2c3652;
  text-shadow: 0 0 1px rgba(241, 245, 250, 0.1);
  font-family: "Poppins", sans-serif;
}
h4 {
  line-height: 22px;
}
.text-muted {
  color: #a4abc5 !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Table */
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table {
  --bs-table-bg: rgba(0, 0, 0, 0);
  --bs-table-accent-bg: rgba(0, 0, 0, 0);
  --bs-table-striped-color: #303e67;
  --bs-table-striped-bg: rgba(48, 62, 103, 0.05);
  --bs-table-active-color: #303e67;
  --bs-table-active-bg: rgba(48, 62, 103, 0.1);
  --bs-table-hover-color: #303e67;
  --bs-table-hover-bg: rgba(48, 62, 103, 0.03);
  width: 100%;
  margin-bottom: 1rem;
  color: #303e67;
  vertical-align: top;
  border-color: #eaf0f9;
}
.table-light {
  --bs-table-bg: #f1f5fa;
  --bs-table-striped-bg: #e5e9ee;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #d9dde1;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #eaeef3;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #d9dde1;
}
.table > thead {
  vertical-align: bottom;
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #eaf0f9;
}
.table th {
  color: #303e67;
  font-weight: 500;
  vertical-align: middle;
  border-color: #eaf0f9;
}
.table > :not(caption) > * > * {
  padding: 0.45rem 0.3rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
.table > tbody {
  vertical-align: inherit;
}
.table td {
  vertical-align: middle;
}

.table td {
  font-weight: 400;
  vertical-align: middle;
  border-color: #eaf0f9;
}
.table > :not(caption) > * > * {
  padding: 0.45rem 0.3rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

.table td {
  padding: 1rem 0.3rem;
}

.col-td {
  display: flex;
  flex-direction: column;
}

.profile-image {
  border-radius: 10rem;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #303e67;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e3ebf6;
  appearance: none;
  border-radius: .25rem;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  border : 1px solid #1A73E8;
}
* {
  outline : none;
}

.form-select {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #303e67;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232c3652' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #e3ebf6;
  border-radius: .25rem;
  appearance: none;
}
.wizard > .steps {
  position: relative;
  display: block;
  width: 100%;
}
.wizard ul, .tabcontrol ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}
.wizard>.steps>ul>li {
  width: auto;
  margin-bottom: 10px;
}
.wizard>.steps .current a, .wizard>.steps .current a:active, .wizard>.steps .current a:hover {
  background: #fff;
  color: #1761fd;
}
.wizard>.steps .current a .number, .wizard>.steps .current a:active .number, .wizard>.steps .current a:hover .number {
  color: #fff;
  background-color: #1761fd;
}
.wizard > .steps .current-info, .tabcontrol > .steps .current-info {
  position: absolute;
  left: -999em;
}
.wizard>.steps .number {
  font-size: 13px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  margin-right: 10px;
  background-color: rgba(23,97,253,0.08);
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
  display: block;
  width: auto;
  margin: 0 0.5em 0.5em;
  padding: 1em 1em;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.wizard>.steps a, .wizard>.steps a:active, .wizard>.steps a:hover {
  margin: 3px;
  padding: 0;
  border-radius: 50px;
}

.text-validation {
  color : red;
  font-size:8px;
  margin-top:-8px;
  padding-left:4px;

}
.text-shadow {
  text-shadow: 0.5px 0.5px 0.5px black;
}

input[type='radio']:after {
  background-color: white;
  border: 1px solid #888888;
}

input[type='radio']:checked:after {
  background-color: #EC6310;
  border: 1px solid #EC6310;
}

.slide_bookList_left {
  animation-duration: 15s;
  animation-name: slidein_left;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function:linear;
}

@keyframes slidein_left {
  from {
    margin-left: 20%;
  }

  to {
    margin-left : -50%;
  }
}

.slide_bookList_right {
  animation-duration: 15s;
  animation-name: slidein_right;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function:linear;
}

@keyframes slidein_right {
  from {
    margin_left: -80%;
  }

  to {
    margin-left : 20%;
  }
}

.text-main-color {
  color : #EC6310;
}

.highlighted {
  background-color: yellow;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 10000;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal h2 {
  margin-top: 0;
}
